
  .heading-primary {
	color: #fff;
	margin-bottom: 2.5rem;
	font-weight: 400; }
	.heading-primary--main {
	  display: block;
	  text-transform: uppercase;
	  font-size: 7rem;
	  letter-spacing: .2rem; }
	.heading-primary--sub {
		font-size: 2rem;
		display: block; }
  
  .heading-secondary {
	font-size: 3.5rem;
	text-transform: uppercase;
	font-weight: 700;
	background-image: linear-gradient(to right, #28b485, #ffb900);
	-webkit-background-clip: text;
	color: transparent;
	transition: all 1s; }

  
  .heading-tertiary {
	font-size: 1.6rem;
	font-weight: 700;
	text-transform: uppercase; }
  
  .paragraph {
	font-size: 1.6rem; 
	  margin-bottom: 3rem; }
  
  .u-align-center {
	text-align: center; }
  
  .u-margin-bottom-small {
	margin-bottom: 1.5rem; }
  
  .u-margin-bottom-medium {
	margin-bottom: 2.5rem; }
  
  .u-margin-bottom-big {
	margin-bottom: 8rem; }
  